*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  color: #fff;
}
.tool-bar {
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  margin: 0;
  background-color: #1e1e1e;
}
#search-box {
  width: 60%;
  max-width: 720px;
  border: 1px solid #555;
  border-radius: 24px;
  background-color: #444;
  display: flex;
  margin: 0 0 0 1em;
}
input {
  border: none;
  background-color: #444;
  height: 2em;
  margin: 0.5em 0 0.5em 0;
}
input[type='submit'] {
  cursor: pointer;
  color: #68cdfe;
}
#input-text {
  outline: none;
  width: 100%;
  height: 2em;
  margin: 0.5em 0 0.5em 0.5em;
}
span.search {
  border-left: 1px solid #5f6368;
  height: 2em;
  align-self: center;
}
input[type='checkbox'] {
  align-self: center;
  margin: 0 0.5em 0 0;
}
ul {
  padding-left: 0;
  padding-right: 1px;
  width: 60%;
  max-height: 36em;
  overflow-y: scroll;
  margin: auto;
  list-style-type: none;
}
#solutions-list {
  max-height: 39em;
}
#solution-display {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}
#solutions-list > li[selected='selected'] > .btn-solution,
.page:hover,
.btn-solution:hover,
.btn-add-course:hover,
.view:hover,
.btn:hover {
  background-color: #ccc;
  color: #1e1e1e;
}
#solutions-list > li {
  display: flex;
  color: #ccc;
  width: 98%;
  margin: 1px;
  justify-content: center;
  display: flex;
  border: 1px solid #ccc;
  height: 1.5em;
}
/* #solutions-list {
  display: none;
} */
#alt-solution-list > li {
  color: #ccc;
  width: 98%;
  height: auto;
  border: 1px solid #ccc;
  margin: 1px;
  padding: 0.2em;
  justify-content: center;
  display: flex;
  word-break: break-all;
  word-wrap: none;
}
.page {
  cursor: pointer;
  background-color: #444;
  height: 100%;
  width: 2em;
}
table {
  word-break: break-all;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.course-table {
  min-height: 39em;
}
td {
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  text-align: center;
}
.last-column {
  border-right: 1px solid #aaa;
}
.first-row > td {
  border-top: 1px solid #aaa;
}
::-webkit-scrollbar {
  background-color: #393a3d !important;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: #515255 !important;
}
::-webkit-scrollbar-thumb:vertical:active {
  background-color: #595a5d !important;
}
[week] {
  display: none;
}
.tool-bar {
  background-color: #0d1117;
}
.view {
  cursor: pointer;
  background-color: #444;
  border: 1px solid #555;
  margin: 1em 0 1em 0;
  height: 2em;
  width: 100%;
}
a {
  margin: 1em 1em 1em 1em;
  white-space: nowrap;
  width: 4em;
  font-size: 12px;
  color: #8ab4f8;
  align-self: center;
}
#avalible-common {
  margin: 0 0 0 20%;
}
.solution,
.alt-solution {
  cursor: pointer;
  height: 3em;
  display: none;
  background-color: #444;
  border: 1px solid #555;
  width: 30%;
}
.alt-solution-div {
  display: flex;
}
.btn,
button {
  cursor: pointer;
  background-color: #161b22;
  border: 1px solid #555;
}
.table-view {
  display: grid;
  grid-template-columns: 2em auto 2em;
}
#hr1 {
  margin: 0 0 1em 0;
}
#hr2 {
  margin: 1em 0;
}
.course-td {
  max-height: 4em;
  overflow-x: hidden;
  overflow-y: clip;
}
.btn-solution,
.btn-add-course {
  width: 100%;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* 悬停元素上显示点线 */
}
/* Tooltip 文本 */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 6em;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* 定位 */
  position: absolute;
  z-index: 999;
}

/* 鼠标移动上去后显示提示框 */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
