* {
  color: #fff;
}
.tool-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body {
  margin: 0;
  background-color: #1e1e1e;
}
#search-box {
  display: flex;
  margin: 0 0 0 0;
}
input {
  background-color: #444;
  margin: 1em 0 1em 0;
  border: 1px solid #555;
}
#input-text {
  width: 20em;
  height: 2em;
  margin: 1em 0 1em 5%;
}
#output {
  margin: 0 5%;
  width: 90%;
  height: 20em;
}
ul {
  width: 10em;
  max-height: 36em;
  overflow-y: scroll;
  margin: auto;
  list-style-type: none;
}
#solution-display {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
ul > li[selected='selected'] {
  background-color: #ccc;
  color: #1e1e1e;
}
ul > li {
  color: #ccc;
  width: 8em;
  height: 1.5em;
  border: 1px solid #ccc;
  margin: 1px;
  justify-content: center;
  display: flex;
}
#solution-table {
  display: grid;
  grid-template-columns: 5% 90% 5%;
}
.page {
  cursor: pointer;
  background-color: #444;
  height: 100%;
}
.pages {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 2em;
  width: 100%;
}
table {
  width: 100%;
  height: 36em;
}
td {
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  text-align: center;
  width: auto;
}
.last-column {
  border-right: 1px solid #aaa;
}
.first-row > td {
  border-top: 1px solid #aaa;
}
::-webkit-scrollbar {
  background-color: #393a3d !important;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: #515255 !important;
}
::-webkit-scrollbar-thumb:vertical:active {
  background-color: #595a5d !important;
}
[week] {
  display: none;
}
.tool-bar {
  background-color: #0d1117;
}
.view {
  cursor: pointer;
  background-color: #444;
  border: 1px solid #555;
  padding: 1px 2px;
  margin: 1em 0 1em 0;
  height: 2em;
  width: 6em;
}
.course-list {
  display: none;
}
a {
  margin: 1em 1em 1em 1em;
  white-space: nowrap;
  width: 4em;
  color: #8ab4f8;
}
#solution-previous {
  margin: 0 0 0 7.5em;
}
.solution {
  display: none;
  background-color: #444;
  border: 1px solid #555;
  width: 5em;
}
.solution-div {
  display: flex;
}
