.ant-table-tbody > tr > td {
  padding: 4px;
}
.course-tag{
  font-size: 12px;
  line-height: 20px;
  margin: 2px 0 ;
  padding: 0 2px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
}